@import '../variables';

.main-layout {
  height: 70px;
  background-image: url('../../assets/layout.svg');
  background-position: 25% 30%;
  background-repeat: repeat-x;
  background-size: 30em;
  border-radius: 2px;
}

.main-layout h1 {
  color: #55555c;
  padding-left: 1em;
  letter-spacing: 0.5em;
}

.zero-content {
  height: 20px;
}
