.view-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 1280px;
  height: 280px;
  background: $background;
}

.main-view p:nth-child(1) {
  display: flex;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  flex: 1;
  width: 7px;
  height: 11px;
  justify-self: flex-start;
}

.main-view p:nth-child(2) {
  width: 104px;
  height: 104px;
  border-radius: 64px;
}

.main-view p:nth-child(3) {
  width: 183px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $black;
}

.main-view p:nth-child(4) {
  width: 14px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $grey;
}

.main-view p:nth-child(5) {
  width: 55px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #55555c;
}
