@import '../variables';

.personnel-block-birthday {
  padding-right: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: $black;
}
