.view-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 18px;
  padding-top: 28px;
  height: 280px;
  background: $background;
  height: 100%;
}

.view-main li:nth-child(1) {
  display: flex;
  padding-left: 14px;
  align-self: start;
}

.view-main li:nth-child(1) img {
  width: 7px;
  height: 11px;
}

.view-main li:nth-child(2) {
  padding-top: 31px;
}

.view-main li:nth-child(2) img {
  width: 104px;
  height: 104px;
  border-radius: 50%;
}

.view-main li:nth-child(3) {
  padding-top: 24px;
}

.view-main li:nth-child(3) b {
  width: 183px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $black;
}

.view-main li:nth-child(3) span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  margin-left: 4px;
  color: $grey;
}

.view-main li:nth-child(4) {
  padding-top: 12px;
}

.view-main li:nth-child(4) span {
  width: 55px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #55555c;
  text-transform: capitalize;
}

.view-main li:nth-child(5) {
  width: 375px;
  height: 24px;
  background: #f7f7f8;
}

.view-birthday,
.view-phone {
  background: #ffffff;
  display: flex;
  padding: 27px 18px;
}

.view-birthday p,
.view-phone p {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.view-birthday img,
.view-phone img {
  width: 20px;
  height: 20px;
}

.view-birthday p:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.view-birthday p span,
.view-phone p:nth-child(2) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $black;
}
