$black: #050510;

$grey: #97979b;

$lightgrey: #c3c3c6;

$underline: rgba(101, 52, 255, 1);

$background: #ffffff;

$font: Inter;

$gray-line: #f6f6f6;

$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
