@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: #f3f2f2;
  padding-top: 16px;
}

.wrapper {
  width: 1248px;
  height: 100%;
  background-color: $background;
  margin: 10px auto;
  border-radius: 2px;
  max-width: 1400px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
  }
}
